@import 'colors';

.header{
    min-height: 20vh;
    background-color:$limegreen;
    margin-bottom: 0;

    img{
        width: 20%;
        background-color: $white;
        margin-top: 4%;
    }
}

.main-container{
    min-height: 65vh;
    padding-top: 3%;

    .options-item{
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: $limegreen;
        color: $white;
        margin-left: 5px;
        margin-right: 5px;
        min-height: 20vh;
        border-radius: 10px;
        padding: 7% 7% 7% 7%;
        cursor: pointer;

        .row{
            margin-left: 0;
            margin-right: 0;
            font-size: 20px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            span{
                font-size: 25px;
            }
        }
    }


    .account-item{
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: $limegreen;
        color: $white;
        margin-left: 5px;
        margin-right: 5px;
        min-height: 20vh;
        border-radius: 10px;
        padding: 7% 7% 7% 7%;
        cursor: pointer;
        
        .row{
            margin-left: 0;
            margin-right: 0;
            font-size: 20px;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            span{
                font-size: 25px;
            }
        }
    }

    .OptionsControlContainer{
        .col-md-6{
            float: right;
        }
    }

    .account-status-container{
        text-align: center;

        h2{
            font-size: 47px;
            font-weight: bold;
        }
        .detail-information{
            padding-top: 20px;
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            text-align: initial;
        }
    }
    
}

.footer{
    min-height: 15vh;
    margin-bottom: 0;

    .btn-theme{
        width: 100px;
        height: 60px;
        border-radius: 10px;
        background-color: $limegreen;
        color: $white;
        margin-top: 40%;
    }
}